/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";

body {
    background: #fafafa;
    color: #212121;
}


body {
    text-align: left;
    font-style: normal;
    font-weight: 400;
    font-size: 1.0rem;
    line-height: 2rem;
    letter-spacing: 0.02rem;
    color: #212121;
    background-color: #f5f5f5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    margin: 0;
    position: relative;
  }
  
  
  hr {
    display: block;
    content: "";
    margin-top: 8px;
    margin-bottom: 8px;
    visibility: hidden;
  }